* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #131313;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.page-container {
  height: 100vh;
  width: 80%;
  margin: auto;
  position: relative;
}

.background {
  background-image: url('./assets/3HT-background.png');
  background-repeat: no-repeat;
  background-position: center;
  opacity: .3;
  position: absolute;
  z-index: -1;
  top: 0px;
  height: 100%;
  width: 100%;
  background-size: contain;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #272727;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 27%;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 65%;
  }

  a {
    color: white;
    text-decoration: none;
  }

.title {
  font-family: 'Caveat', cursive;
  color: #1ACD4C;
  font-size: 30px;
}

.vert-line {
  height: 20px;
  border-left: 2px solid #272727;
} 

.nav-buttons {
  font-weight: 600;
}

.page-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 900;
  margin-top: 90px;
  display: block;
}

table {
  margin-top: 31px;
  width: 100%;
  text-align: left; 
  border-collapse: collapse;
}

th {
  color: #727272;
  font-size: 13px;
  padding: 0 0 5px 5px;
}

td {
  padding: 10px; 
  background-color: #131313;
}

tbody tr {
  border: 1px solid #272727;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: auto;
  width: 50%;
  padding: 26px 0;
}

.current-page {
  color: #4F4F4F;
  text-decoration: none;
}