body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #201636;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}

.man-with-flag {
  width: 50%;
  position: relative;
}

.top-info {
  width: 50%;
  position: absolute;
  right: 150px;
}

.top-info span {
  display: block;
}

.couching-prog {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.step-prog {
  font-size: 20px;
  padding: 60px 0 45px 0;
}

.task-solution {
  color: #211637;
  font-size: 15px;
  font-weight: 700;
  padding: 5px 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50px;
}

.reservation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}

.start-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reservation button {
  background-color: #F09F0C;
  box-shadow: 0px 5px 25px -10px #F09F0C;
  outline: none;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.sections-container {
  position: relative;
  padding-bottom: 120px;
}

.background {
  background-image: url(/assets/clouds.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: .9;
  position: absolute;
  z-index: -1;
  top: -270px;
  height: 100%;
  width: 100%;
  background-size: contain;
}

.middle-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 0;
  width: 80%;
  margin: auto;
  gap: 40px;
}

.tip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  align-items: center;
}

.tip img {
  width: 80px;
}

.bottom-section-title {
  font-size: 24px;
  text-align: center;
}

.font-yellow {
  font-size: 36px;
  color: #F09F0C;
  font-weight: 900;
}

.font-white {
  font-size: 36px;
  font-weight: 900;
  display: block;
  padding-bottom: 20px;
}

.questions {
  display: flex;
  justify-content: space-between;
}

.bottom-img {
  width: 50%;
  padding-left: 50px;
}

.bottom-section-sign {
  position: relative;
  width: 60%;
}

.bottom-section-man {
  position: absolute;
  left: 250px;
  width: 300px;
}

ul {
  list-style-image: url(/assets/arrow.svg);
  padding: 15px 0;
  width: 40%;
  margin-right: 100px;
}