body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

.background {
  background-image: url(./assets/5background.png);
  background-repeat: no-repeat;
  position: relative;
}

.page-container {
  color: white;
  font-size: 18px;
  width: 70%;
  margin: auto;
}

.header-section {
  text-align: center;
}

.logo {
  float: left;
}

.burger {
  float: right;
  padding-top: 15px;
}

.header {
  font-size: 64px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  padding-top: 100px;
}

.header-info {
  display: block;
  padding-bottom: 200px;
}

.years-section {
  width: 50%;
  margin: auto;
  background-color: #F7F7F7;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  top: 620px;
  display: flex;
  justify-content: space-between;
}

.year-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.number {
  font-size: 72px;
  color: #F7654A;
  font-weight: 500;
}

.years {
  font-size: 36px;
  color: #000000;
  font-weight: 500;
}

.on-market {
  color: #999999;
  font-weight: 500;
}

.projects-header {
  padding-top: 450px;
  font-size: 36px;
  font-weight: 500;
  color: #404149;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 45px;
  background-color: white;
}

.cards-section {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: auto;
  padding-bottom: 150px;
  background-color: white;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.arena-img {
  width: 100%;
}

.card:hover {
  cursor: progress;
}

.card-name {
  color: #404149;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px;
}

.card-info {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
}

.red-line {
  padding-top: 45px;
  padding-bottom: 15px;
  margin: auto;
}

.footer-container {
  color: white;
  background-color: #F7654A;
}

.footer {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 30px 0 45px 0;
}

.footer-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.projects {
  font-size: 48px;
  font-weight: 700;
}

.solutions {
  font-size: 24px;
  font-weight: 700;
}

.button {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  background-color: #fff;
  border: none;
  outline: none;
  padding: 14px 30px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

@media screen and (min-width: 1600px) {
body {
    max-width: 1600px;
    margin: auto;
  }
html {
  content: "";
  background-color: red;
  z-index: -1000;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  left: 0;
}  
}