body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

header {
    height: 90px;
    background-color: #F8F4FC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: auto;
}

.nav-buttons {
    margin: auto;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

a {
    text-decoration: none;
    color: #354657;
    font-weight: 700;
}

.nav-icons {
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 17px;
}

main {
    width: 100%;
    margin: auto;
    color: #354657;
    position: relative;
}

.main-container {
    width: 50%;
    margin: auto;
}

h1 {
    text-align: center;
    font-weight: 700;
    color: #354657;
    padding-top: 35px;
    font-size: 30px;
}

.girl {
    width: 100%;
    padding: 25px 0px 25px 0px;
}

.main-text {
    font-weight: 400;
}

.quote-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 23px;
    padding: 40px 0px;
}

.quote {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 10px
}

.quote-text {
    color: #7D7D7D;
    font-style: italic;
}

.quotes-img {
    width: 47px;
}

.horizontal-line {
    padding: 30px 0px 20px 0px;
    width: 100%;
}

.social-share {
    padding: 5px 0px 100px 0px;
}

.flower {
    position: absolute;
    right: 0;
    width: 30%;
    z-index: -1;
    bottom: -40px;
}

.footer-line {
    color: #E2E2E2;
    size: 1px;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    gap: 65px;
}

.footer-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    gap: 40px;
}

.nav-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin: auto;
}

.footer-second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    gap: 35px;
}

.social-medias {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin: auto;
}